---
import Layout from "$lib/layouts/layout.astro";
---

<Layout
	path={[
		{
			label: "Uncreative"
		}
	]}
>
	<h1 class="text-4xl mb-4">Librekit Uncreative</h1>
	<p>
		Welcome to Librekit Uncreative, where you can have someone else make
		gamemodes, maps, & worlds for you because you don't feel like doing it
		yourself! Uncreative is in early access, so there may be bugs & issues,
		which will be fixed in maybe a few years or so idk. Have fun doing nothing!
	</p>
</Layout>
